@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: #fff;
    color:#c53aff;
}

.dashboard-t{
    background-color: #000000;
    border-width: 0px 0px 3px 0px;
    border-color: #0de4fe;
}

.center-text-v{
    align-items:center;
    justify-content:center;
}

div.backgroundImg {
    background-image: url('../images/back6.png');
    background-color: #020202;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

p,label,h1,h4,h5,h2 {
    color:snow;
}

h1,h5 {
    text-shadow: 0 0 10px #e23a87;
}

.nav-tabs {
    align-items: end;
    border-bottom: 2px solid #000; 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: black;
    border: none;
    color: #21decb;
}

.nav-tabs .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: none;
    background-color: #333;
    color: snow;
}

b {
    color:#21decb;
}


.form-select, input:not(input[type=image]),input:not(input[type=image]):focus {
    background-color:black;
    color:snow;
}

div.input-group-text {
    color: #39f6e4;
    background-color:rgba(1,1,1,0);
    border-radius: 0rem;
    border: none;
}

.form-control, .form-select {
    border-radius: 0rem;
    border: none;
    border-bottom: 2px solid #39f6e4;
}

.form-control:focus, .form-select:focus {
    border-bottom: 2px solid #e23a87;
}

.btn-primary {
    color: snow;
    background-color: #c53aff;
    border: none;
    border-radius: 15px;
}

.btn-primary:hover {
    color: snow;
    background-color: #861dc2;
    box-shadow: 0 0 5px 2px #861dc2;
    border: none;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


a>i.bi, .nav-txt, .navbar-brand {
    color: #c53aff;
}


.nav-txt {
    font-style:normal;
    font-size:1.1rem!important;
    color: snow;
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(131, 201, 50, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(201, 32, 108, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-txt:hover, a:hover>i.bi .nav-txt,a:hover>i.bi , .navbar-brand:hover, .navbar-toggler:hover {
    color: #0de4fe;
    
}

.bg-dark {
    background-color: #000000!important;
}

#password-reveal{
    display: block!important;
    color: red;
}

.btn-primary{
    font-style:bold;
}

hr.colorfull {
    height:2px; 
    border:0px; 
    background: linear-gradient(to right, #39f6e4, #a7ee54); 
    opacity: 1;
    box-shadow: 0 20px 20px -20px #333;
}

.div-colorfull{
    border: 2px solid;
    border-image: linear-gradient(to right, #39f6e4, #a7ee54); 
    border-image-slice: 1; 
    border-radius:50%
}


tbody, td, tfoot, th, thead, tr {
    text-align: center;
    vertical-align: middle;
}


td {
    border-color: #21decb;
    border-bottom-width: 0.1rem;
}

thead{
    border-bottom-width: 0.1rem;
    color: snow;
    background-color: black;
    border-color: #c53aff;
}

tbody {
    border-bottom-width: 0.05rem;
    border-color: #21decb;
    color: snow;
    background-color: black;
}

table {
    margin-top: 25px;
    text-align: center;
}

input[readonly]{
    border-bottom: 2px solid #0de4fe!important;
    text-shadow: 0 0 4px #ff0000!important;
}

.form-check-input:focus[type=radio], .form-check-input[type=radio] {
    background: black;
    border-color: #21decb;
    border-width: 0.15rem;
    box-shadow: 0 0 5px 0px #21decb;
}

.form-check-input:checked[type=radio] {
    background: black;
    border-color: #c53aff;
    border-width: 0.25rem;
    box-shadow: 0 0 10px 1px #c53aff;
}

.form-check-input[type=radio] {
    width: 1em;
    height: 1em;
}


.form-check-input:focus[type=checkbox], .form-check-input[type=checkbox] {
    background: black;
    border-color: #21decb;
    border-width: 0.15rem;
    box-shadow: 0 0 5px 0px #21decb;
}

.form-check-input:checked[type=checkbox] {
    background: #c53aff;
    border-color: #c53aff;
    box-shadow: 0 0 10px 1px #c53aff;
}

a.btn-table>i.bi {
    color: snow;
    margin: 0.5rem;
}

a.btn-table {
    padding: 5px;
    width: fit-content;
    height: fit-content;
}

.btn-table {
    background-color: #861dc2;
}

.btn-table:hover {
    background-color: #c53aff;
}

th.w-priority{
    min-width:20rem;
}

input[type="search"]::-webkit-search-cancel-button {

    /* Remove default */
    -webkit-appearance: none;
  
    /* Now your own custom styles */
    height: 1rem;
    width: 1rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-linecap='round' fill='none' stroke-width='2' stroke='rgb(0,0,0)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-color: #c53aff;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button:hover {

    /* Remove default */
    -webkit-appearance: none;
  
    /* Now your own custom styles */
    height: 1rem;
    width: 1rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-linecap='round' fill='none' stroke-width='2' stroke='rgb(0,0,0)'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-color: #0de4fe;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #0de4fe;
    cursor: pointer;
  }